module.exports = {
    parameters : function () {
        var params = {
            nodemonServer: {
                    ip : '127.0.0.1',
                    port: 8080
            },
            dockerServer : {
                    ip : 'node',
                    port: 8080
            },
            serv : function () {
                return {
                    ip : this.SOCKET_IP.ip,
                    port: this.SOCKET_IP.port
                };
            },
            api: function () {
                return {
                    ip : "API_HOSTNAME_OR_IP",
                    port: 80
                };
            },
            apiSpotify: function () {
                return {
                    client_id: '47ba364991014f67ad476aa3c017fad5', // Your client id
                    client_secret: 'af7832793f384d67b78e13ff1c35c8c7', // Your secret
                    redirect_uri: 'http://REDIRECT_SPOTIFY_IP_FQDN:REDIRECT_SPOTIFY_PORT/spotify/callback' // Your redirect uri
                };
            }
        }

        return params;
    }
}
