<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
    	<title><%= title %></title>
		<title>Connexion</title>
  
    <link rel='stylesheet' href='/stylesheets/stylePageCreationLogin.css' />
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
  </head>


  <body>

    <h1 class='titreLogo'> Pimp My road <h1>
        <div class="wrapper">
          <form class="connexion-form-signin" action="/users/create" method="POST">       
            <h2 class="connexion-form-signin-heading">Inscription</h2>

              <input type="text" class="form-control" name="username" placeholder="Identifiant" required="" autofocus="" />
              <input type="text" class="form-control" name="email" placeholder="Adresse mail" required="" autofocus="" />
              <input type="password" class="form-control" name="password" placeholder="Mots de passe" required=""/>      
              <input type="password" id='confirmationMdp' class="form-control" name="confirmationPassword" placeholder="Confirmation du mots de passe" required="" autofocus="" />
              <button id='creationCompte' class="btn btn-lg btn-primary btn-block" type="submit">Envoyer</button>   
          </form>
        </div>
  </body>
</html>


 

  



