<div class="page-wrap">
        <button id="menu-toggle"></button>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">CREATION TRAJET</h1>
                    <form action="/trajet/creation/" method="POST">
                        <div id="gmap"></div>
                        <input id="pac-input-start" name="start" class="controls" type="text" placeholder="Départ">
                        <input id="pac-input-end" name="end" class="controls" type="text" placeholder="Destination">

                        <% if (typeof playlists !== 'undefined') { %>
                            <select name="playlist" id="inputPlaylist" class="form-control">
                                <option value="">-- Select One --</option>
                                <% playlists.forEach( function (p) {  %>
                                    <option value="<%= p.id %>"><%= p.name %></option>
                                <% }); %>
                            </select>
                        <% } else { %>
                            <a href="/spotify/">
                                Connectez vous avec spotify et choisissez vos playlists.
                            </a>
                        <% } %>

                        <button type="submit" class="btn btn-primary">Valider</button>
                    </form>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <bs3


    </div>
</div>
