      <div class="row">
        <div class="col-md-6 col-md-offset-3 logo">
          <img src="image/logo/logo1.png">
        </div>
      </div>

       <div class="row creation">
        <div class="login col-md-6 col-md-offset-3">
          <form class="connexion-form-signin panel" action="/users/create" method="POST" onSubmit="return validPassword(this)">
              <input  type="text" class="form-control" name="username" placeholder="Identifiant" required="" autofocus="" />
              <input  type="text" class="form-control" name="email" placeholder="Adresse mail" required="" autofocus="" />
              <input id ="password" type="password" class="form-control" name="password" placeholder="Mots de passe" required=""/>
              <input type="password" id='confirmationMdp' class="form-control" name="confirmedPassword" placeholder="Confirmation du mots de passe" required="" autofocus="" />
              <input id='creationCompte' value='envoyer' class="button btn-tarace" type="submit"/>
          </form>
        </div>


  <script type="text/javascript">

function validPassword(f) {
  if (f.password.value == '' || f.confirmedPassword.value == '') {
    alert('Tous les champs ne sont pas remplis');
    f.password.focus();
    return false;
    }
  else if (f.password.value != f.confirmedPassword.value) {
    alert('Ce ne sont pas les mêmes mots de passe!');
    f.password.focus();
    return false;
    }
  else if (f.password.value == f.confirmedPassword.value) {
    return true;
    }
  else {
    f.password.focus();
    return false;
    }
  }
</script>



