
<div class="page-wrap">
        <button id="menu-toggle"></button>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">ACCUEIL</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>Trajets</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Soleil</div>
                                    <div>Météo</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">20</div>
                                    <div>Titre écouté cette semaine</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">10</div>
                                    <div>articles consulté cette semaine</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">20</div>
                                    <div>Visite cette semaine</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
            <!-- /.row -->
    </div>
    <!-- /#wrapper -->


   </div>

    <!-- jQuery -->
    <script type="text/javascript" src='/components/jquery/dist/jquery.min.js'></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src='/components/bootstrap/dist/js/bootstrap.min.js'></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script type="text/javascript" src='/components/metisMenu/dist/metisMenu.min.js'></script>

    <!-- Morris Charts JavaScript -->
    <script type="text/javascript" src='/components/raphael/raphael.min.js'></script>
    <script type="text/javascript" src='/components/morrisjs/morris.min.js'></script>

    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src='/js/sb-admin-2.js'></script>
    <script type="text/javascript" src="/components/socket.io-client/dist/socket.io.js"></script>
    
    <!-- Gmap -->
    <script type="text/javascript" src="/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrvc135P6W5lV0mNykc7S4-1IOWzCCjac&callback=initMap"
    async defer></script>

    <script type="text/javascript">  
        var socket = io.connect('http://localhost:8080/');
        console.log(socket);
        socket.on('connect', function(data) {
            socket.emit('join', 'Hello World from client');

        });
        socket.on('messages', function(data) {
                alert(data);
        });


        var options = {
          enableHighAccuracy: true,
          timeout: 3000,
          maximumAge: 0
        };

        function success(pos) {
          var crd = pos.coords;

          console.log('Your current position is:');
          console.log(`Latitude : ${crd.latitude}`);
          console.log(`Longitude: ${crd.longitude}`);
          console.log(`More or less ${crd.accuracy} meters.`);

          socket.emit('localization', {lat: crd.latitude, lon: crd.longitude});
        };

        function error(err) {
          console.warn(`ERROR(${err.code}): ${err.message}`);
        };

        window.navigator.geolocation.watchPosition(success, error, options);

    </script>
</body>

</html>

        

 

  



