
<div class="page-wrap">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 info-ico">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-12 text-center info-badge">
                                    <div class="huge"><%= trajets.length %></div>
                                    <div>Trajets</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="button">
                                <span class="pull-left">Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 info-ico">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-12 text-center info-badge">
                                    <div id="meteo" class="huge"></div>
                                    <div id="description"></div>
                                    <div>Météo</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="button">
                                <span class="pull-left">Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 info-ico">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-12 text-center info-badge">
                                    <div class="huge">20</div>
                                    <div>Titre écouté cette semaine</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="button">
                                <span class="pull-left">Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 info-ico">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-12 text-center info-badge">
                                    <div class="huge">10</div>
                                    <div>articles consulté cette semaine</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="button">
                                <span class="pull-left">Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 info-ico">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-12 text-center info-badge">
                                    <div class="huge">20</div>
                                    <div>Visite cette semaine</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="button">
                                <span class="pull-left">Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

            <!-- /.row -->
    </div>

    <script type="text/javascript">
          var socket = io.connect('<%= socketHost %>');
          socket.on('error', function (error) {
            console.log(error);
          });

          var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
          };

          function extractdata(data) {


              var degres = data.list[0].main.temp;
              console.log(degres);
              var maChaine = Math.round(degres).toString() + " °C " ;
              return maChaine ;

            }
          function extractdata2(data) {



              var description = data.list[0].weather[0].description;
              var maChaine = description;
              return maChaine ;

            }

          function success(pos) {
            console.log("success");
            var crd = pos.coords;



            socket.emit('localization', {token: "<%= token %>", lat: crd.latitude, lon: crd.longitude});

          };

  //+ JSON.stringify(data.message)
          function error(err) {
            socket.emit('localization', {err: `ERROR(${err.code}): ${err.message}` });

          };

  		if ("geolocation" in navigator) {
  		  /* géolocalisation possible */
      		navigator.geolocation.getCurrentPosition(success, error, options);
  		} else {
  		  alert("Le service de géolocalisation n'est pas disponible sur votre ordinateur.");
  		}
      socket.on('dataMeteo', function (data) {
      //alert('hello')


        $('#meteo').html(extractdata(data));
        $('#description').html(extractdata2(data));
      })
      </script>
      <script>
    <!-- /#wrapper -->
