
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pimp my road </title>

    <!-- Bootstrap Core CSS -->
    <link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.min.css'>

    <!-- MetisMenu CSS -->
    <!--<link rel='stylesheet' href='/components/metisMenu/dist/metisMenu.min.css'>-->

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/stylePageDashboardAccueil.css'>

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/stylePageLayout.css'>

<!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/stylePageTrajets.css'>

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/stylePageMeteo.css'>

    <link rel='stylesheet' href='/stylesheets/stylePagePlaylist.css'>

    <!-- Morris Charts CSS -->
    <link rel='stylesheet' href='/components/morris.js/morris.css'>

    <!-- Custom Fonts -->
    <link rel='stylesheet' href='/components/font-awesome/css/font-awesome.min.css' type="text/css">

    <!-- Google Font Open Sans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

     <!-- DataTables CSS -->
    <link href="/components/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/components/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/stylePageCreationLogin.css' />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<%-include('scripts');%>
</head>

<body>

    <nav id="menu" role="navigation">
                <header class="avatar">
                        <img id="imgProfil" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
                        <h2>John D.</h2>
                </header>
        <ul>
            <li><a href="/Accueil/">Accueil</a></li>
            <li><a href="/trajet/">Vos trajets</a></li>
            <li><a href="/meteo/">Votre météo</a></li>
            <li><a href="/spotify/playlists/">Vos playlist Spotify</a></li>
            <li><a href="/vos-articles/">Vos articles</a></li>
            <li><a href="/vos-visites/">Vos visites</a></li>
        </ul>
    </nav>
 <%-body%>



</body>

</html>
