      <div class="row">
        <div class="col-md-6 col-md-offset-3 logo">
          <img src="image/logo/logo1.png">
        </div>
      </div>
      <div class="row">
        <div class="login col-md-6 col-md-offset-3">
          <form class="connexion-form-signin panel" action="/users/login" method="POST">
              <input type="text" class="form-control" name="_username" placeholder="Adresse mail ou identifiant" required="" autofocus="" />
              <input type="password" class="form-control" name="_password" placeholder="Mots de passe" required=""/>
              <label class="connexion-checkbox">
                <input type="checkbox" value="remember-me" id="connexionrememberMe" name="rememberMe"> Se souvenir de moi
              </label><br>
              <button class="button buttonVert" type="submit">Envoyer</button>
              <a class='lienCreationCompte button' href="/creationCompte" target="_blank"> Inscription </a>
          </form>
        </div>
      </div>








