
<div class="page-wrap">
        <button id="menu-toggle"></button>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">METEO</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>


        <div id="container">
            <!-- /.row -->


            <div class="row">

<!-- soleil  -->
                <div class="col-lg-12 jour">
                    <div class='blockJour'>
                        <div class="info-jour col-xs-12">
                            <div id="meteo" class="temps" ></div>
                            <div id="city" class="ville">
                            </div>
                        </div>
                        <div id='description' class="description"></div>
                        <div id="tempMin" class="temperaturemin"></div>
                        <div id="tempMax" class="temperaturemax"></div>
                    </div>

                </div>
            </div>


            <div class="row">

                <div class="col-lg-12 semaine">

                    <div class='blockTemps'>
                        <div class="ico-temps"></div>
                        <div id='date2' class="date"></div>
                        <div id='description2' class="description"></div>
                        <div id="tempMin2" class="temperaturemin"></div>
                        <div id="tempMax2" class="temperaturemax"></div>
                    </div>


                    <div class='blockTemps'>
                        <div class="ico-temps"></div>
                        <div id='date3' class="date"></div>
                        <div id='description3' class="description"></div>
                        <div id="tempMin3" class="temperaturemin"></div>
                        <div id="tempMax3" class="temperaturemax"></div>
                    </div>



                    <div class='blockTemps'>
                        <div class="ico-temps"></div>
                        <div id='date4' class="date"></div>
                        <div id='description4' class="description"></div>
                        <div id="tempMin4" class="temperaturemin"></div>
                        <div id="tempMax4" class="temperaturemax"></div>
                    </div>



                    <div class='blockTemps'>
                        <div class="ico-temps"></div>
                        <div id='date5' class="date"></div>
                        <div id='description5' class="description"></div>
                        <div id="tempMin5" class="temperaturemin"></div>
                        <div id="tempMax5" class="temperaturemax"></div>
                    </div>
                </div>

            </div>



        </div>
</div>


    <script type="text/javascript">

        var socket = io.connect('<%= socketHost %>');
        socket.on('error', function (error) {
            console.log("Server return error :" + error);
        });

        var options = {
          enableHighAccuracy: true,
          timeout: 5000,
          maximumAge: 0
        };


    function extractdatadate2(data) {
        var date2 = new Date(data.list[9].dt_txt);
        var tab_jour2=new Array("Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi");
        /*tab_jour=[date.getDay()];*/
        return tab_jour2[date2.getDay()];
    }
    function extractdatadate3(data) {
        var date3 = new Date(data.list[13].dt_txt);
        var tab_jour3=new Array("Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi");
        /*tab_jour=[date.getDay()];*/
        return tab_jour3[date3.getDay()];
    }
    function extractdatadate4(data) {
        var date4 = new Date(data.list[13].dt_txt);
        var tab_jour4=new Array("Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi");
        /*tab_jour=[date.getDay()];*/
        return tab_jour4[date4.getDay()];
    }
    function extractdatadate5(data) {
        var date5 = new Date(data.list[13].dt_txt);
        var tab_jour5=new Array("Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi");
        /*tab_jour=[date.getDay()];*/
        return tab_jour5[date5.getDay()];
    }

    function extractdata(data) {

        var maChaine = JSON.stringify(data.list[0].main.temp)
        maChaine = maChaine.substring(0, maChaine.length-3) + '°'
    return maChaine ;
}

    function extractdatadesc(data) {
        var description = JSON.stringify(data.list[0].weather[0].description )

    return description ;

}
    function extractdatamin(data) {
        var temperatureMin = JSON.stringify(data.list[1].main.temp_min)
        temperatureMin = temperatureMin.substring(0, temperatureMin.length-3) + '°'
    return temperatureMin ;

}
    function extractdatamax(data) {
        var temperatureMax = JSON.stringify(data.list[1].main.temp_max)
        temperatureMax = temperatureMax.substring(0, temperatureMax.length-3) + '°'
    return temperatureMax ;

}
function extractdatacity(data) {
        var city = JSON.stringify(data.city.name )
    return city ;

}



    function extractdatadesc2(data) {
        var description2 = JSON.stringify(data.list[1].weather[0].description)
    return description2 ;

}
    function extractdatamin2(data) {
        var temperatureMin2 = JSON.stringify(data.list[3].main.temp_min)

        temperatureMin2 = temperatureMin2.substring(0, temperatureMin2.length-3) + '°'
    return temperatureMin2 ;
}
    function extractdatamax2(data) {
        var temperatureMax2 = JSON.stringify(data.list[3].main.temp_max)
        temperatureMax2 = temperatureMax2.substring(0, temperatureMax2.length-3) + '°'
    return temperatureMax2 ;

}

    function extractdatadesc3(data) {
        var description3 = JSON.stringify(data.list[2].weather[0].description)
    return description3 ;

}
    function extractdatamin3(data) {
        var temperatureMin3 = JSON.stringify(data.list[5].main.temp_min)
        temperatureMin3 = temperatureMin3.substring(0, temperatureMin3.length-3) + '°'
    return temperatureMin3 ;

}
    function extractdatamax3(data) {
        var temperatureMax3 = JSON.stringify(data.list[5].main.temp_max)
        temperatureMax3 = temperatureMax3.substring(0, temperatureMax3.length-3) + '°'
    return temperatureMax3 ;

}



    function extractdatadesc4(data) {
        var description4 = JSON.stringify(data.list[3].weather[0].description)
    return description4 ;

}
    function extractdatamin4(data) {
        var temperatureMin4 = JSON.stringify(data.list[7].main.temp_min)
        temperatureMin4 = temperatureMin4.substring(0, temperatureMin4.length-3) + '°'
    return temperatureMin4 ;

}
    function extractdatamax4(data) {
        var temperatureMax4 = JSON.stringify(data.list[7].main.temp_max)
        temperatureMax4 = temperatureMax4.substring(0, temperatureMax4.length-3) + '°'
    return temperatureMax4 ;

}



    function extractdatadesc5(data) {
        var description5 = JSON.stringify(data.list[4].weather[0].description)
    return description5 ;

}
    function extractdatamin5(data) {
        var temperatureMin5 = JSON.stringify(data.list[9].main.temp_min)
        temperatureMin5 = temperatureMin5.substring(0, temperatureMin5.length-3) + '°'
    return temperatureMin5 ;

}
    function extractdatamax5(data) {
        var temperatureMax5 = JSON.stringify(data.list[9].main.temp_max)
        temperatureMax5 = temperatureMax5.substring(0, temperatureMax5.length-3) + '°'
    return temperatureMax5 ;

}


        function success(pos) {
          var crd = pos.coords;
          var token = "<%= token %>)"

          console.log('Your current position is:');
          console.log(`Latitude : ${crd.latitude}`);
          console.log(`Longitude: ${crd.longitude}`);
          console.log(`More or less ${crd.accuracy} meters.`);

          socket.emit('localization', {token : token, lat: crd.latitude, lon: crd.longitude});
          socket.on('dataMeteo', function (data) {
        	//alert('hello')
            console.log(data);


            $('#meteo').html(extractdata(data));
            $('#description').html(extractdatadesc(data));
            $('#tempMin').html(extractdatamin(data));
            $('#tempMax').html(extractdatamax(data));
            $('#city').html(extractdatacity(data));

            $('#date2').html(extractdatadate2(data));
            $('#date2').attr("data-content","météo " + extractdatadate2(data));
            $('#description2').html(extractdatadesc2(data));
            $('#tempMin2').html(extractdatamin2(data));
            $('#tempMax2').html(extractdatamax2(data));

            $('#date3').html(extractdatadate3(data));
            $('#description3').html(extractdatadesc3(data));
            $('#tempMin3').html(extractdatamin3(data));
            $('#tempMax3').html(extractdatamax3(data));

            $('#date4').html(extractdatadate4(data));
            $('#description4').html(extractdatadesc4(data));
            $('#tempMin4').html(extractdatamin4(data));
            $('#tempMax4').html(extractdatamax4(data));

            $('#date5').html(extractdatadate5(data));
            $('#description5').html(extractdatadesc5(data));
            $('#tempMin5').html(extractdatamin5(data));
            $('#tempMax5').html(extractdatamax5(data));

          })
        };





//+ JSON.stringify(data.message)
        function error(err) {
          socket.emit('localization', {err: `ERROR(${err.code}): ${err.message}` });
          console.warn(`ERROR(${err.code}): ${err.message}`);
        };

		if ("geolocation" in navigator) {
		  /* géolocalisation possible */
    		navigator.geolocation.getCurrentPosition(success, error, options);
		} else {
		  alert("Le service de géolocalisation n'est pas disponible sur votre ordinateur.");
		}

        if ($('temps').val == 'peu nuageux') {

        }
    </script>
