
<div class="page-wrap">
        <button id="menu-toggle"></button>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">METEO</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>


        <div id="page-wrapper">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Votre météo
                        </div>
                        <div id='meteo'></div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            
        </div>

            </div>

</div>
</div>

            <div id="contenumeteo"></div>
            
</div>
</div>


    <script type="text/javascript">
        var socket = io.connect('http://127.0.0.1:8080/');
        socket.on('error', function (error) {
            console.log("Server return error :" + error);
        });

        var options = {
          enableHighAccuracy: true,
          timeout: 5000,
          maximumAge: 0
        };

        function extractdata(data) {

            console.log(data);

    var maChaine = "<p>" + 'Bienvenue sur votre page météo' + "</p>" 
                 + "<p>" + 'Aujourd hui le temps est : ' + JSON.stringify(data.list[0].weather[0].description) + '' 
                 + 'Les températures sont comprise entre ' + JSON.stringify(data.list[0].main.temp_min) + ' degrés et ' + JSON.stringify(data.list[0].main.temp_max) + 'degrés' + "</p>" 
                 + "<p>" + 'Demain le temps est : ' + JSON.stringify(data.list[1].weather[0].description) + "</p>";

    return maChaine ;

}
        function success(pos) {
          var crd = pos.coords;

          console.log('Your current position is:');
          console.log(`Latitude : ${crd.latitude}`);
          console.log(`Longitude: ${crd.longitude}`);
          console.log(`More or less ${crd.accuracy} meters.`);

          socket.emit('localization', {lat: crd.latitude, lon: crd.longitude});
          socket.on('dataMeteo', function (data) {
        	//alert('hello')
            console.log(data);

            $('#meteo').html(extractdata(data));
          })
        };

//+ JSON.stringify(data.message)
        function error(err) {
          socket.emit('localization', {err: `ERROR(${err.code}): ${err.message}` });
          console.warn(`ERROR(${err.code}): ${err.message}`);
        };

		if ("geolocation" in navigator) {
		  /* géolocalisation possible */
    		navigator.geolocation.getCurrentPosition(success, error, options);
		} else {
		  alert("Le service de géolocalisation n'est pas disponible sur votre ordinateur.");
		}
    </script>


