<div class="page-wrap">
    <button id="menu-toggle"></button>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Aide pour la voix</h1>
            </div>
            <!-- /.col-lg-12 -->
            <div id="wrapper">
                <div id="page-wrapper">
                    <div class="row">
                      <div class="col-md-12">
                      <% if (loginSpotify) { %>
                        <a href="/spotify/deco" data-content="connexion Spotify" class="btn btn-primary">Déconnexion Spotify</a>
                      <% } else { %>
                        <a href="/spotify/login" data-content="connexion Spotify" class="btn btn-primary">Connexion Spotify</a>
                      <% } %>
                      </div>
                      <div class="col-md-12">

                      <% if (voice) { %>
                        <a data-content="connexion Spotify" class="btn btn-primary" href='/voice/destroy'>Desactiver voice</a>
                      <% } else { %>
                        <a data-content="connexion Spotify" class="btn btn-primary" href="/voice/init">Active voice</a>
                      <% } %>
                      </div>
                    </div>
                    <!-- /.row -->
                    <div class="row">
                      <table>
                          <thead>
                              <th>
                                Commande
                              </th>
                              <th>
                                Action
                              </th>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Ouvrir</td>
                              <td>Ouvre le menu</td>
                            </tr>
                            <tr>
                              <td>Fermer</td>
                              <td>Ferme le menu</td>
                            </tr>
                            <tr>
                              <td>Lire menu</td>
                              <td>Lis le menu</td>
                            </tr>
                            <tr>
                              <td>Go 'nom de la rubrique'</td>
                              <td>Naviguation dans le menu</td>
                            </tr>
                            <tr>
                              <td>Lire 'nom de la liste a lire'</td>
                              <td>Lis une liste playlist par exemple</td>
                            </tr>
                            <tr>
                              <td>Clique 'nom de la balise <a>'</td>
                              <td>clique sur un lien <a></td>
                            </tr>
                            <tr>
                              <td>Valider</td>
                              <td>Envoi un formulaire <a></td>
                            </tr>
                            <tr>
                              <td>Ecrire playlist</td>
                              <td>Focus sur l'input de l'ajout d'une playlist <a></td>
                            </tr>
                            <tr>
                              <td>Lecture</td>
                              <td>Lis ou arrete une lecture de playlist spotify <a></td>
                            </tr>
                            <tr>
                              <td>Meteo</td>
                              <td>Sur la page d'accueil, donne la température <a></td>
                            </tr>
                            <tr>
                              <td>Meteo aujourd'hui</td>
                              <td>Donne les infos méteo pour aujourd'hui <a></td>
                            </tr>
                            <tr>
                              <td>Retour</td>
                              <td>Retour sur la dernière page chargée <a></td>
                            </tr>
                          </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>