
.jour{
	background-color: rgba(255, 255, 255, 0.28);
	border-bottom: 1px solid white;
}

.semaine{
	background-color: rgba(255, 255, 255, 0.28);
	text-align: center;
}

.blockTemps{
	
	margin-right:36px;
	display: inline-block;
	border-left: 1px solid white;
	padding-left : 53px;
}
.info-jour {
	display: block;
}
.temps {
	
	text-align:right;
	font-size: 40px;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	max-width: 52%;
	float: left;
}
.ville {
	text-align:left;
	display: inline-block;
	width: 100%;
	max-width: 48%;
	height: 100%;
	float: right;
	height: 60px;
	padding: 27px 0 0 15px;
}
.temperaturemin {
	text-align:center;
}
.temperaturemax {
	text-align:center;
}
.description {
	text-align:center;
	font-size: 20px;
}

.semaine {
	padding-top: 14px;
	padding-bottom: 14px;
}