
body {
    background-image: url("../images/Weather-Wallpaper-15.jpg") no-reapeat;
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


.avatar{
        background:rgba(0,0,0,0.1);
        padding:2em 0.5em;
        text-align:center;
    }
        
#imgProfil {
            width:100px;
            border-radius:50%;
            overflow:hidden;
            border:4px solid @color-1st;
            box-shadow:0 0 0 4px rgba(255,255,255,0.2);
        }


/* PUSH MENU */
#menu {
    position: fixed;
    top: 0;
    left: -300px;

    width: 300px;
    height: 100%;
    padding: 50px 30px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .3s ease-in;
       -moz-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
    text-align: center;

    background-color: #fff;
}
#menu .brand {
    height: 51px;

    font-size: 70px;
    font-weight: 900;
    line-height: .6;

    color: #ddd;
}
#menu ul {
    padding: 0;
    margin-top: 30px;
}

#menu ul li a {
    display: block;

    font-weight: 900;
    line-height: 50px;

    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
    text-decoration: none;
    text-transform: uppercase;

    color: #232629;
    border-top: 1px solid #eee;
}
#menu ul li:last-child a {
    border-bottom: 1px solid #eee;
}
#menu ul li a:hover {
    letter-spacing: 1px;
}
body.open #menu {
    left: 0;
}
/* MAIN PAGE */
.page-wrap {
   
    padding: 10px;
    padding-top: 15vh;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .3s ease-in;
       -moz-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;


}
body.open .page-wrap {
    margin-left: 300px;
}

/* MENU TOGGLE ICON */

button:focus {
    outline: none;
}

body.open button#menu-toggle:before,
body.open button#menu-toggle:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.panel-footer {
    background-color: rgba(255, 255, 255);
}






#nav-de-malade {
    display:none;
    position: fixed;
    height: 100vh;
    min-width: 100%;
    width: 100%;
    text-align: center;
    z-index: 999999;
    font-weight: bold;
    background-color: rgba(90, 90, 90, 0.85)!important;
    text-transform: uppercase;
}

.list-group-item {
    -webkit-animation: opa linear forwards 1s;
    animation: opa linear forwards 1s;
}

@-webkit-keyframes anim {
    0%  {background: rgba(255,100,0,0);}
    100% {background: rgba(255,100,0,1);}
}
@keyframes anim {
    0%  {background: rgba(255,100,0,0);}
    100% {background: rgba(255,100,0,1);}
}

@-webkit-keyframes opa {
    0%  {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes opa {
    0%  {opacity: 0;}
    100% {opacity: 1;}
}

.menu-toggle-tend {
    display: block;
    width: auto;
    background: rgba(255, 0, 0, 0);
    position: fixed;
    border: 0;
    z-index: 9999999;
    padding: 2% 2% 2% 0;
    padding-top: 4vh;
}




