div#gmap {
	max-width: 100%;
	height: 99vh;
	background-color: red;
	width: auto;
	max-height: 500px;
	border: black 2px solid;

	}

#floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

div#contenufonctionnalitemaps {
	max-width: 20%;
	height: 500px;
	background-color: yellow;
	position: absolute;
	top: 34%;
	width: 100%;
	right: 6%;
	border: black 2px solid;

}

 #login, #loggedin {
        display: none;
      }
      .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
      }

h1 {
  margin-bottom: 0.5em;
  color: #fff;
}

.support {
  margin-bottom: 2em;
  font-size: 0.8rem;
  color: #fff;
}

.support a {
  color: #fff;
}

.phrases p {
  display: flex;
  align-items: center;
  width: 640px;
  max-width: 100%;
  padding-top: 0.2rem;
  padding-right: 1rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  border: 1px solid rgba(#fff, 0.4);
  border-radius: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.2;
  background-color: rgba(#fff, 0.4);
}

.phrases p span {
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
  font-size: 2rem;
}

div.feedback {
  padding: 20px;
  margin: 100px;
  border: 2px solid black;
  width: 300px;
  text-align: center;
}

.trajet {
  margin-top: 12%;
}

.trajet .panel-body {
    padding: 25px;
}

.trajet .btn-success {
  margin: 10px;
  background-color: #50EF94;
    border-color: #50EF94;
}

.trajet .btn-success:hover {
  background-color: white;
    border-color: white;
    color:#50EF94;
}

.title .head {
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.table2 {
  background: rgba(255, 255, 255, 0.28);
    height: 35px;
    color: white;
    text-align: center;
    line-height: 2;
}

@media all and (max-width: 1024px)
{
    .trajet
    {
        margin-top: 50px;
    }
}